:root {
    --light-grey-color: #fafafa;
    --dark-blue-color: #032F48;
    --red-color: #F1552C;
    --primary-font-stack: 'Lato', sans-serif;
    --black-font-color: #151F32;
    --tomato-color: #f1552c;
    --primary-white-color: #ffffff;
    --font-yellow-color: #FCD3AC;
    --light-green-color: #78c9c0;
    --font-grey-color: #DDDFE0;
    --yellow-color: #F9BA51;
    --red-background-color: #E75A31;
    --grey-stats-color: #919193;
    --total-black-color: #000000;
    --orange-color: #FF7C14;
    --light-grey: #EFF7FF;
}